
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin:0;
    padding:0;
    font-family: "Ubuntu";
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.div-super-table{
    width: 100%;
    display: flex;

    justify-content: center;
}

#stocks-table {
    background-color: rgb(100, 100, 100);
}

table{
    tr {
        /* background-color: green; */
        th{
            border: 1px red dashed;
        };
        td {
            text-align: center; /* Centers the content horizontally */
          }
    }
}

/* table > tr {
    background-color: aqua;
} */